* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7cec3c;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 100vh;
} 

header, h2{
  text-align: center;
  font-size: 2rem;
}

form{
  height: 80px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

form  input, form button{
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button{
  color: #ff6fff;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff6f47;
  color: #f7fffe;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo{
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  width: 12rem;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.fall {
  transform: translate(10rem) rotate(20deg);
  opacity: 0.8;
}

.completed{
  text-decoration: line-through;
}

.todo li{
  flex:1;
}

.trash-btn, .completed-btn{
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.filter-todo 

.select::after{
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor:pointer;
  pointer-events: none;
}

.todo-input{
  
 
}